body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    font-family: Arial;
    color: white;
}

.quiz-box {
    background: rgba(0,0,0,0.85);
    padding: 30px;
    border-radius: 20px;
    width: 420px;
    text-align: center;
    border: 2px solid #00f2ff;
    box-shadow:
        0 0 10px #00f2ff,
        0 0 20px #00f2ff,
        0 0 40px #00f2ff;
}

#progress-container {
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
    height: 10px;
    width: 100%;
    margin-bottom: 15px;
}

#progress-bar {
    height: 100%;
    width: 0%;
    background: #00ff88;
    border-radius: 10px;
    transition: width 0.3s;
}

#timer {
    font-weight: bold;
    margin-bottom: 10px;
    color: #00f2ff;
}

.answer-btn {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.answer-btn:hover {
    transform: scale(1.05);
}

.correct {
    background-color: #00ff88;
}

.wrong {
    background-color: #ff4d4d;
}

#next-btn, #restart-btn {
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#next-btn {
    background: #00f2ff;
}

#restart-btn {
    background: #ff00c8;
    color: white;
    box-shadow:
        0 0 10px #ff00c8,
        0 0 20px #ff00c8;
    transition: 0.3s;
}

#restart-btn:hover {
    transform: scale(1.1);
}
